#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.result {
  display: flex;
  flex-direction: row;
  place-content: stretch center;
  align-items: center;
  height: 125px;
  flex: 1 1 100%;
}

.comparison {
  background-clip: content-box;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  padding: .2em;
  aspect-ratio: 1 / 1;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  place-content: center;
  flex: 1 1 100%;
}

.right {
  background: linear-gradient(135deg, #00903d, #00903d 65%, #007e30 35%);
}

.wrong {
  background: linear-gradient(135deg,#bb0923,#bb0923 65%,#9b0923 35%);
}

.low {
  background: linear-gradient(135deg,#0080ff,#0080ff 65%,#0055aa 35%);
}

.high {
  background: linear-gradient(135deg,#e600ff,#e600ff 65%,#860094 35%);
}